/EjemploJavaEE/nbproject/private/
/EjemploJavaEE/Ejemplo Java EE-ejb/nbproject/private/
/EjemploJavaEE/EjemploJavaEE-war/nbproject/private/
/EjemploJavaEE/Ejemplo Java EE-ejb/build/
/EjemploJavaEE/EjemploJavaEE-war/dist/
/EjemploJavaEE/EjemploJavaEE-war/build/
/EjemploJavaEE/Ejemplo Java EE-ejb/dist/
/EjemploJavaEE/build/